*.class
src/META-INF/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#IntelliJ Idea Project files
.idea/
out/
DSW.iml

# LWJGL Native Libaries
native/